# Class 2, Date Nov 16, 2023

## 1_Basic Syntax Comments

In [1]:
### Single-Line Comments:

# This is a single-line comment
print("Hello, World") #This is another comment

Hello, World

In [2]:
### Multi-Line Comments
"""
This is a multi-line comment
that spans multiple lines
"""
print("Hello, World")

"""
Another way to create a multi-line comment
using triple-double-quotes
"""
print("Python is awesome")

Hello, World
Python is awesome

In [3]:
### Best Practices for Comments:

# 1. **Be Clear and Concise:** Comments should provide useful information without being overly verbose.
# 2. **Update Comments:** If you modify your code, make sure to update the comments accordingly to keep them accurate.
# 3. **Avoid Redundancy:** Write comments for code that needs clarification; avoid commenting on every line if the code is self-explanatory.
# 4. **Follow Style Guides:** Adhere to Python style guides (e.g., PEP 8) for consistent and readable code.
# 5. **Use Meaningful Names:** Good variable and function names can reduce the need for excessive comments.

In [5]:

# This script calculates the square of a given number
# Get user input

def square(number):
    '''
    This function takes a number as input
    and returns its square
    '''
    return number**2
# Get user input
user_input = float(input("Enter a number: "))

#Calculate and display the square
result = square(user_input)
print(f"The square of {user_input} is: {result}")

Enter a number: 5
The square of 5.0 is: 25.0

## 2_String Values

In [6]:
### 1. **Definition and Declaration:**

single_quoted = 'This is a string'
double_quoted = "This is also a string"
triple_quoted = '''This is a
Multi-line
string
'''

In [7]:
### 2. **String Operations:**

str1 = "Hello"
str2 = "World"
result = str1+" "+str2
print(result)

Hello World

In [8]:
### 3. **Accessing Characters:**

my_string = "Python"
first_char = my_string[0]
print(first_char)

P

In [10]:
### 4. **String Slicing:**

my_string = "Programming"
subsrting = my_string[8:11]
subsrting

'ing'

In [13]:
### 5. **String Methods:**

# - `len()`: Returns the length of the string.
# - `lower()`: Converts the string to lowercase.
# - `upper()`: Converts the string to uppercase.
# - `strip()`: Removes leading and trailing whitespace.
# - `replace(old, new)`: Replaces occurrences of the old substring with the new substring.
# - `find(substring)`: Returns the index of the first occurrence of the substring or -1 if not found.

In [12]:
### 6. **String Formatting:**

name = "Alice"
age = 30
formatted_string = f"My name is {name} and I am {age} years old."
formatted_string

'My name is Alice and I am 30 years old.'

In [14]:
### 7. **Immutable Nature:**
# immutable, meaning that once a string is created, it cannot be modified

In [15]:
### 8. **Escape Characters:**

string1 = "Hello"
string2 = 'World'
combination_string = string1+ " " + string2
combination_string

'Hello World'

In [17]:
# String indexing and slicing

example_string = "Python Programming"
first_char = example_string[0]
substring = example_string[7:18]
first_char, substring

('P', 'Programming')

In [18]:
# String methods

length = len(example_string)
lowercase = example_string.lower()
uppercase = example_string.upper()
length, lowercase, uppercase

(18, 'python programming', 'PYTHON PROGRAMMING')

In [19]:
# String formatting

name = "Alice"
age = 30
formatted_string = f"My name is {name} and I am {age} years old."
formatted_string

'My name is Alice and I am 30 years old.'

## 3_String Methods

In [20]:
### 1. **len()**

my_string = "Hello, World!"
length = len(my_string) 
length

13

In [21]:
### 2. **lower() and upper()**

my_string = "Hello, World!"
lowercase = my_string.lower()
uppercase = my_string.upper()
lowercase, uppercase

('hello, world!', 'HELLO, WORLD!')

In [22]:
### 3. **strip()**

my_string = " Hello, World! "
stripper_string = my_string.strip()
stripper_string

'Hello, World!'

In [23]:
### 4. **replace(old, new)**

my_string = "Hello, World!"
new_string = my_string.replace("Hello", "Hi")
new_string

'Hi, World!'

In [24]:
### 5. **find(substring)**

my_string = "Hello, World!"
index = my_string.find("World")
index

7

In [25]:
### 6. **count(substring)**

my_string = "abcaabcba"
count = my_string.count("a")
count

4

In [28]:
### 7. **startswith(prefix) and endswith(suffix)**

my_string = "Hello World!"
starts_with_hello = my_string.startswith("Hello")
ends_with_hello = my_string.endswith("World!")
starts_with_hello, ends_with_hello

(True, True)

In [29]:
### 8. **split(separator)**

my_string = "apple,orange,banana"
fruit_list = my_string.split(",")
fruit_list

['apple', 'orange', 'banana']

In [30]:
### 9. **join(iterable)**


fruits =['apple','orange','banana']
joined_string = ",".join(fruits)
joined_string

'apple,orange,banana'

In [31]:
### 10. **format()**


name = "Alice"
age = 30
formatted_string = "My name is {} and I am {} years old.".format(name, age)
formatted_string

'My name is Alice and I am 30 years old.'

In [32]:
### 11. **startswith(prefix) and endswith(suffix)**


my_string = "Hello, World!"
starts_with_hello = my_string.startswith("Hello")
ends_with_world = my_string.endswith("World!")
starts_with_hello, ends_with_world

(True, True)

## 4_The format Method

In [3]:
### Basic Usage:

name = "Jhon"
age = 25
formatted_string = "My name is {} and I am {} years old".format(name, age)
formatted_string

'My name is Jhon and I am 25 years old'

In [6]:
### Positional Arguments:

greeting ="Hello"
name = "Alice"

formatted_string = "{}, {}!".format(greeting, name)
formatted_string

'Hello, Alice!'

In [8]:
### Named Arguments:

formatted_string = "My name is {name} and I am {age} years old.".format(name="Bob", age = 30)
formatted_string

'My name is Bob and I am 30 years old.'

In [9]:
### Index-based Formatting:

formatted_string = "{1} is a {0}.".format("fruit","Apple")
formatted_string

'Apple is a fruit.'

In [11]:
### Formatting Numbers:

price = 49.955
formatted_price = "The price is ${:.2f}".format(price)
formatted_price

'The price is $49.95'

In [12]:
### Padding and Alignment:

formatted_number = "{:10}".format(42)
formatted_number

'        42'

In [13]:
### F-strings (Python 3.6+):

name = "Sam"
age = 28
formatted_string = f"My name is {name} and I am {age} years old."
formatted_string

'My name is Sam and I am 28 years old.'

## 5_String Operators

In [15]:
### 1. **Concatenation Operator `+`**:

str1 = "Hello"
str2 = "World!"

result = str1+ " "+str2
result

'Hello World!'

In [16]:
### 2. **Repetition Operator `*`**:

original_str = "abc"
repeated_str = original_str*3
repeated_str

'abcabcabc'

In [17]:
### 3. **Membership Operators (`in` and `not in`)**:

my_string = "Python"
contains_py = "py" in my_string
not_contains_java = "Java" not in my_string

contains_py, not_contains_java

(False, True)

In [18]:
### 4. **Comparison Operators (`==`, `!=`, `<`, `>`, `<=`, `>=`)**:

str1 = "apple"
str2 = "banana"

is_equal = (str1 == str2)
is_not_equal = (str1 != str2)

is_equal, is_not_equal

(False, True)

In [19]:
### 5. **Indexing and Slicing**:

my_string ="Python"
first_char = my_string[0]
substring = my_string[1:4]

first_char, substring

('P', 'yth')

In [22]:
### 6. **Augmented Assignment Operators (`+=`, `*=`)**:

str1 = "Hello"
str1 += " World"

repeated_str = "abc"
repeated_str*= 3

str1, repeated_str

('Hello World', 'abcabcabc')

In [24]:
### 7. **Raw String (`r` or `R`)**: 


regular_string = "C:\new\folder"
raw_string = r"C:new\folder"

regular_string, raw_string

('C:\new\x0colder', 'C:new\\folder')

In [25]:
### 8. **String Formatting (`%`)**:

name = "Alice"
age  = 30

formatted_string = "My name is %s and I am %d years old." %(name, age)
formatted_string

'My name is Alice and I am 30 years old.'

In [26]:
### 9. **f-strings (Python 3.6+)**:

name = "Bob"
age = 25

formatted_string = f"My name is {name} and I am {age} years old."
formatted_string

'My name is Bob and I am 25 years old.'

## 6_Numeric Data Types

In [1]:
### 1. **Integers (`int`):**

x = 10
y = -5

x, y

(10, -5)

In [2]:
### 2. **Floating-Point Numbers (`float`):**

a = 3.14
b = -2.5e2

a,b

(3.14, -250.0)

In [3]:
### 3. **Complex Numbers (`complex`):**

z = 2+3j
z

(2+3j)

In [4]:
### 4. **Numeric Operations:**

a = 5
b = 2

addition = a + b
subtraction = a-b
multiplication =a*b
division = a/b
modulus = a%b
exponentiation = a**b
floor_division = a//b

addition, subtraction, multiplication, division, modulus, exponentiation, floor_division

(7, 3, 10, 2.5, 1, 25, 2)

In [5]:
### 5. **Conversion Between Numeric Types:**

x = 10
y = float(x)
z = complex(x)

x, y, z

(10, 10.0, (10+0j))

In [6]:
### 6. **Type Checking:**

num = 3.14
print(type(num))

num

<class 'float'>

3.14

In [7]:
### 7. **Math Module:**

import math

square_root = math.sqrt(25)
logarithm = math.log(100)
trig_function = math.sin(0)

square_root, logarithm, trig_function

(5.0, 4.605170185988092, 0.0)

In [13]:
### 8. **Random Module:**

import random

random_number = random.randint(1, 10)

random_number

5

In [14]:
### 9. **Decimal Module:**

from decimal import Decimal

a = Decimal('0.1')
b = Decimal('0.2')

result = a + b


result

Decimal('0.3')

In [16]:
### 9. **Decimal Module:**

#from decimal import Decimal

a = '0.1'
b = '0.2'

c = a + b


c

'0.10.2'

In [17]:
a = 0.1
b = 0.2

c = a + b


c

0.30000000000000004

## 7_Conversion Functions

In [18]:
### 1. **`int()` Function:**

x = int(3.14)
y = int("42")

x, y

(3, 42)

In [19]:
### 2. **`float()` Function:**

a = float(5)
b = float("3.14")

a, b

(5.0, 3.14)

In [20]:
### 3. **`str()` Function:**

value = 42
string_value = str(value)

string_value

'42'

In [21]:
### 4. **`bool()` Function:**

x = bool(42)
y = bool(0)
z = bool("Hello")

x, y, z

(True, False, True)

In [22]:
### 5. **`list()`, `tuple()`, `set()` Functions:**

string = "hello"
list_from_string = list(string)
tuple_from_string = tuple(string)
set_from_string = set(string)

list_from_string, tuple_from_string, set_from_string

(['h', 'e', 'l', 'l', 'o'], ('h', 'e', 'l', 'l', 'o'), {'e', 'h', 'l', 'o'})

In [28]:
### 6. **`dict()` Function:**

pairs = [("a",1), ("b",2), ("c",3)]
dictionary = dict(pairs)
pairs, dictionary

([('a', 1), ('b', 2), ('c', 3)], {'a': 1, 'b': 2, 'c': 3})

In [29]:
### 7. **`chr()` and `ord()` Functions:**

char_a = chr(97)
ascii_code_a = ord('a')

char_a, ascii_code_a

('a', 97)

In [30]:
### 8. **`hex()` and `oct()` Functions:**

hex_value = hex(255)
oct_value = oct(255)

hex_value, oct_value

('0xff', '0o377')

## 8_Simple Input and Output The % Method

In [32]:
### Basic Usage:

name = "Alice"
age = 25

formatted_string = "My name is %s and I am %d years old."%(name,age)
formatted_string

'My name is Alice and I am 25 years old.'

In [33]:
### Examples:

name = "Bob"
age = 30
height = 6.2

formatted_string = "Name: %s, Age:%d, Height:%2f" %(name, age, height)
formatted_string

'Name: Bob, Age:30, Height:6.200000'

In [34]:
### Multiple Values:

first_name = "Jhon"
last_name = "Doe"
age = 28

full_name = "My name is %s %s, and I am %d years old."%(first_name, last_name, age)

full_name

'My name is Jhon Doe, and I am 28 years old.'

In [40]:
### Padding and Alignment:

num1 = 42
num2 = 3.14

formatted_number = "Num1: %d, Num2:%-8.2f" %(num1, num2)

formatted_number

'Num1: 42, Num2:3.14    '

In [41]:
### Limitations:

name = "Alice"
age = 25

formatted_string = f"My name is {name} and I am {age} years old."

formatted_string

'My name is Alice and I am 25 years old.'

## 9_The print Function

In [1]:
### Basic Usage:

print("Hello, World!")

Hello, World!

In [2]:
name = "Alice"
age = 30

print("Name:", name, "Age:", age)

Name: Alice Age: 30

In [3]:
### Formatting Output:

x = 5
y = 3.14

print("Value of x is %d, and y is %.2f"%(x,y))

Value of x is 5, and y is 3.14

In [5]:
### End Parameter:

print("This is on one line.", end="")
print("This is on the same line")

This is on one line.This is on the same line

In [10]:
### Separator Parameter:

a = 10
b = 20

print(a,b, sep =",")

10,20

In [14]:
with open("output.txt", "w") as file:
    print("This is written to a file.", file=file)

In [15]:
### Printing to Standard Error:

import sys

print("This is an error message.", file=sys.stderr)

This is an error message.

In [16]:
### Printing Without a Newline:

print("This is on one line.", end="")
print("This is still on one same line.")

This is on one line.This is still on one same line.

In [17]:
### f-strings:

name = "Bob"
age = 25

print(f"My name is {name} and I am {age} years old.")

My name is Bob and I am 25 years old.

## 10_20 Problems

In [20]:
#1. **String Concatenation:**
#- Concatenate two strings and print the result.
str1 = "Farhad"
str2 = "Hossain"

Result = str1 + " " + str2

Result

'Farhad Hossain'

In [22]:
#2. **Numeric Operations:**
#- Perform addition, subtraction, multiplication, and division of two numbers and print the results.

number1 = 20
number2 = 7

print("Sum of two number:", number1+number2)
print("subtraction of two number:", number1-number2)
print("multiplication of two number:", number1*number2)
print("division of two number:", number1/number2)

Sum of two number: 27
subtraction of two number: 13
multiplication of two number: 140
division of two number: 2.857142857142857

In [23]:
#3. **String Indexing:**
#- Given a string, print the first and last characters using indexing.

my_string = "Farhad"
first_char = my_string[0]
last_char = my_string[-1]

first_char, last_char

('F', 'd')

In [24]:
#4. **Conversion Functions:**
#- Take a numeric input from the user and print its square using the `int()` and `print()` functions.

input_Value = int(input("Enter a number:"))
square_value = input_Value**2

square_value

Enter a number:5

25

In [26]:
#5. **Formatted String:**
# - Create a formatted string that includes your name, age, and a brief introduction.

name = "Farhad"
age = 36

intro = f"My name is {name} and I am {age} years old."

intro

'My name is Farhad and I am 36 years old.'

In [28]:
#6. **String Slicing:**
#- Given a string, extract a substring using string slicing and print it.

my_string = "Farhad Hossain"
substring = my_string[7:12]

substring

'Hossa'

In [29]:
#7. **Type Checking:**
#- Check the type of a variable and print the result.

my_variable = "Farhad"

print("Variale type:", type(my_variable))

Variale type: <class 'str'>

In [30]:
#8. **String Repetition:**
#- Take a string input from the user and print it repeated three times.

input_string = input("Enter a string:")
repeated_string = input_string*3

repeated_string

Enter a string:farhad

'farhadfarhadfarhad'

In [31]:
#9. **List Conversion:**
#- Given a string, convert it to a list of characters and print the list.

my_string = "Farhad"
char_list = list(my_string)

print(char_list)

['F', 'a', 'r', 'h', 'a', 'd']

In [35]:
#10. **Boolean Conversion:**
#- Take an integer input from the user and print whether it is even or odd using boolean conversion.

user_input = int(input("Enter an integer:"))
odd_number=user_input%2 ==1
print("Is Odd number:", odd_number)

Enter an integer:4
Odd number: False

In [37]:
#11. **Formatting with `%`:**
#- Create a formatted string using the `%` method to display the current date and time.

import datetime
currtent_datetime = datetime.datetime.now()
formatted_datetime = "Current date and time:%s"%currtent_datetime

print(formatted_datetime)

Current date and time:2023-11-25 01:12:34.748976

In [38]:
#12. **Float Conversion:**
#- Take a float input from the user, convert it to an integer, and print the result.

float_input = float(input("Enter a float:"))
int_result=int(float_input)

print("Converted to Integer:", int_result)

Enter a float:3.1416
Converted to Integer: 3

In [40]:
#13. **Random Number Generation:**
#- Generate a random integer between 1 and 10 using the `random` module and print it.

import random

random_number = random.randint(1,10)
print("Random Number:", random_number)

Random Number: 5

In [45]:
#14. **Decimal Arithmetic:**
#- Take two decimal inputs from the user, add them, and print the result using the `decimal` module.

from decimal import Decimal

decimal1 = Decimal(input(''))
decimal2 = Decimal(input(''))

result = decimal1 + decimal2

print ("Decimal Result:", result)

3.5
5.7
Decimal Result: 9.2

In [48]:
#15. **Exponentiation:**
#- Calculate and print the value of 2 to the power of 5.

exponent_result = 2**5

print("2 to the power of 5:, exponent_result", exponent_result)

2 to the power of 5:, exponent_result 32

In [50]:
#16. **String Membership:**
#- Check if a given substring is present in a string and print the result.

my_string = "Farhad"
is_exist = "fa" in my_string

print("Is 'fa' exist:", is_exist)

Is 'fa' exist: False

In [51]:
#17. **String Formatting with f-strings:**
#- Use an f-string to create a formatted string with your favorite color and print it.

favorite_color = "Blue"
formatted_string = f"My favorite color is {favorite_color}."

print(formatted_string)

My favorite color is Blue.

In [58]:
#18. **Conversion Error Handling:**
#- Handle the exception that occurs when trying to convert a non-numeric string to an integer and print a custom error message.

user_input = input("Enter a number:")

try:
    num = int(user_input)
    print("Conversion successful:", num)
    
except ValueError:
    print("Invalid input. Please enter a valid number.")

Enter a number:pp
Invalid input. Please enter a valid number.

In [59]:
#19. **Hexadecimal Conversion:**
#- Convert the decimal number 255 to a hexadecimal string and print it.

decimal_number = 240
hex_string = hex(decimal_number)

print("Hexadecimal:", hex_string)

Hexadecimal: 0xf0

In [65]:
#20. **Printing Patterns:**
#- Use the `print()` function to create a pattern of asterisks, forming a triangle or rectangle.

print("Triangle:")
for i in range(1,6):
    print("*"*(i))

print("Rectangle:")
for i in range(1,6):
    print("*"*5)

Triangle:
*
**
***
****
*****
Rectangle:
*****
*****
*****
*****
*****

## 11_Assignments

### Assignments:

In [1]:
#1. String Manipulation:
#- Write a Python program that takes a user's full name as input and prints it in uppercase.

user_name = input("Enter your name:")
uppercase_name = user_name.upper()

print("Uppercase Name:", uppercase_name)

Enter your name:Farhad Hossain
Uppercase Name: FARHAD HOSSAIN

In [2]:
#2. Numeric Calculation:
#- Create a program that calculates the area of a rectangle. The length and width should be taken as user input.

length = float(input("Enter the length of the the rectangle:"))
width = float(input("Enter the width of the rectangle: "))

area = length*width

print("Area of the rectangle:", area)

Enter the length of the the rectangle:12
Enter the width of the rectangle: 8
Area of the rectangle: 96.0

In [3]:
#3. String Formatting:
#- Write a Python program that asks the user for their name and age, then prints a formatted greeting message.

user_name = input("Enter your name:")
user_age = int(input("Enter your age:"))

greeting = f"Hello, {user_name}! You are {user_age} years old."

print(greeting)

Enter your name:Farhad
Enter your age:36
Hello, Farhad! You are 36 years old.

In [8]:
#4. Conversion and Output:
#- Take two numbers as input and print their sum, product, and the result of dividing the first number by the second.

num1 = float(input("Enter the first number:"))
num2 = float(input("Enter the second number:"))

sum_result = num1+num2
product_result = num1*num2
division_result = num1/num2

print(f"Sum: {sum_result},Product: {product_result}, Division: {division_result}")

Enter the first number:4
Enter the second number:5
Sum: 9.0,Product: 20.0, Division: 0.8

In [11]:
#5. Conditional String Output:
#- Write a program that takes a user's favorite color as input and prints a message based on whether the color is "Blue."

favorite_color = input("Enter your favorite color:")
if favorite_color.lower() == "blue":
    print("Great choice! Blue is fantastic.")
    
else:
    print("Nice! Other colors are wonderful too.")

Enter your favorite color:red
Nice! Other colors are wonderful too.

In [12]:
#6. List Manipulation:
#- Create a program that takes a sentence as input and prints the list of unique words in the sentence.

sentence = input("Enter a sentence:")
words = sentence.split()
unique_words = list(set(words))

print("Unique Words:", unique_words)

Enter a sentence:I am farhad. I am a student
Unique Words: ['farhad.', 'student', 'I', 'a', 'am']

In [15]:
#7. Numeric Precision:
# Write a program that takes a floating-point number as input and prints it rounded to two decimal places.

float_number = float(input("Enter a floating-point number:"))
round_number = round(float_number, 2)

print("Rounded Number:", round_number)

Enter a floating-point number:5.36584
Rounded Number: 5.37

In [20]:
#8. Random Number Generation and Output:
#- Generate a random number between 1 and 100. Ask the user to guess the number and print whether their guess is correct or not.

import random
random_number = random.randint(1,100)
user_guess = int(input("Guess the number (between 1 and 100): "))

if user_guess == random_number:
    print("Congratulation! Your guess is correct.")
else:
    print(f"Sorry, the correct number was {random_number}. Try again")

Guess the number (between 1 and 100): 76
Sorry, the correct number was 39. Try again

In [21]:
#9. Data Type Conversion:
#- Create a program that converts a user-entered integer to a binary string and prints it.

user_number = int(input("Enter an integer:"))
binary_representation = bin(user_number)

print("Binary Representation:", binary_representation)

Enter an integer:9
Binary Representation: 0b1001

In [22]:
#10. Advanced String Formatting:
#- Write a program that prompts the user for their first and last names and prints a formatted message with initials and uppercase last name.

first_name = input("Enter your first name:")
last_name = input("Enter your last name:")

initials = f"{first_name[0].upper()}.{last_name.upper()}"
formatted_message = f"Hello, {initials}! Welcome."
print(formatted_message)

Enter your first name:farhad
Enter your last name:hossain
Hello, F.HOSSAIN! Welcome.

## 12_Building a Contact Management System

In [14]:
# 1. Implement a menu-driven system with the following options:
# - Add a new contact.
# - View all contacts.
# - Search for a contact by name.
# - Exit the program.

# 2. For adding a new contact:
# - Prompt the user to enter the contact's name, phone number, and email address.
# - Ensure that the phone number is a valid numeric value.

# 3. For viewing all contacts:
# - Display a formatted list of all contacts, including their names, phone numbers, and email addresses.
# - If the contact list is empty, print a message indicating that there are no contacts.

# 4. For searching for a contact by name:
# - Prompt the user to enter a name to search for.
# - Display the details of the contact if found, or indicate if the contact is not in the list.

# 5. Implement proper error handling to handle cases such as invalid numeric input for phone numbers or 
# incorrect menu selections.

# 6. Use appropriate string formatting for displaying contact information.

# 7. Ensure that the program runs continuously until the user chooses to exit.

contacts = []

while True:
    print("\nContact Management System:")
    print("1. Add a new contact")
    print("2. View all contacts")
    print("3. Search for a contact by name")
    print("4. Exit")
    
    choice = input("Enter your choice (1-4):")

    if choice =="1":
        name = input("Enter the contact's name:")
        phone = input("Enter the contact's phone number:")
        while not phone.isdigit():
            print("Invalid phone number. Please enter a numeric value.")
            phone = input("Enter the contact's phone number:")
        email = input("Enter the contact'e email address:")
        contacts.append({"Name":name, "Phone":phone, "Email":email})
        print("Contact added successfully!")

    elif choice =="2":  
        if not contacts:
            print("No contacts available.")
        else:
            print("\nAll Contacts:")
            for contact in contacts:
                print(f"Name:{contact['Name']},Phone:{contact['Phone']},Email:{contact['Email']}")

    elif choice == "3":
        search_name = input("Enter the name to search for:")
        found_contact = None
        for contact in contacts:
            if contact["Name"].lower() == search_name.lower():
                found_contact = contact
                break
        if found_contact:
            print("\n Contact Found:")
            print(f"Name:{found_contact['Name']}, Phone:{found_contact['Phone']}, Email:{found_contact['Email']}")
        else:
            print(f"No contact found with the name'{search_name}'.")
    elif choice == "4":
        print("Exiting the Contact Management System.Goodbye!")
        break
        
    else:
        print("Invalid choice. Please enter a number between 1 and 4.")

Contact Management System:
1. Add a new contact
2. View all contacts
3. Search for a contact by name
4. Exit

KeyboardInterrupt: Interrupted by user

## 13_MCQ

In [16]:
# 1. What is the output of the following Python code?

print("Hello" + "World")

HelloWorld

In [17]:
# 2. Which of the following is a numeric data type in Python?
# float

In [ ]:
# 3. What does the `%` operator do in the context of string formatting?
# String Formatting

In [ ]:
# 4. How can you convert a string to an integer in Python?
# `int()`

In [ ]:
# 5. Which function is used for printing output in Python?
# `print()`

In [ ]:
# 6. What does the `sep` parameter in the `print()` function control?
# Separator between values

In [ ]:
# 7. What is the result of `5 / 2` in Python?
# b) 2.5

In [ ]:
# 8. How can you convert a float to an integer in Python?
# a) `int()`

In [21]:
#9. Which of the following is an example of a syntax error?
`print("Hello" + World")`

SyntaxError: EOL while scanning string literal (<ipython-input-21-bbb65aa78a0d>, line 1)

In [22]:
#10. What will the following code output?

name = "Alice"
print(f"My name is {name}")

My name is Alice

In [ ]:
#11. How can you round a floating-point number to two decimal places?
round(number, 2)

In [26]:
#12. What is the result of `2 3` in Python?
2**3

8

In [ ]:
#13. Which function is used for converting a character to its ASCII code?
ord()

In [ ]:
#14. What is the hexadecimal representation of the decimal number 15?
0x0F

In [ ]:
#15. How can you check if a substring is present in a string?
substring in string

In [ ]:
#16. Which function is used for converting an integer to a binary string?
bin()

In [ ]:
#17. What does the `end` parameter in the `print()` function control?
End character

In [ ]:
#18. How can you convert a string to uppercase in Python?
string.upper()

In [27]:
#19. What is the output of the following code?
x = 3
y = 2.5
print("x + y =", x + y)

x + y = 5.5

In [ ]:
#20. How can you convert a string to a list of characters in Python?
list(string)

In [29]:
#21. What is the output of the following code?

name = "Bob"
age = 25

print("My name is {} and I am years old.".format(name, age))

My name is Bob and I am years old.

In [ ]:
#22. Which of the following is a correct way to concatenate two strings in Python?
string1 + string2

In [58]:
#23. What is the result of `"Python"[-2:]`?
P = "Python"[-2:]
P

'on'

In [ ]:
#24. Which function is used to convert a string to a floating-point number?
float()

In [35]:
#25. What is the output of the following code?
x = 7
y = "3"

print(x*int(y))

21

In [ ]:
#26. How can you prevent the addition of a newline character when using the `print()` function?
Using the `end` parameter with an empty string

In [36]:
#27. What is the output of the following code?
a = 15
b = 4

print(f"{a} divided by is {a//b} with a reminder of {a%b}")

15 divided by is 3 with a reminder of 3

In [ ]:
#28. How can you redirect the output of the `print()` function to a file?
Using the `file` parameter

In [37]:
#29. What is the result of `5 % 2` in Python?
5%2

1

In [ ]:
#30. How can you print a formatted string with the current date using the `%` method?
print("Today is %s" % date)

In [39]:
#31. What is the output of the following code?
x = 10
y = 20

print(x,y, sep = "-")

10-20

In [ ]:
#32. Which function is used to generate a random integer in Python?
random.randint()

In [ ]:
#33. How can you print an error message to the standard error stream?
print("This is an error", file=stderr)

In [42]:
#34. What is the result of the following code?
height  = 5
width = 10

area = height*width

print(f"The area is {area} square units.")

The area is 50 square units.

In [64]:
#35. How can you create a pattern of asterisks forming a triangle using the `print()` function?
n = 5
i = 9
print(" " * n + "*" * i)

     *********

In [65]:
#36. What is the output of the following code?
name = "Jhon"
age = 30

print(f"My name is {name} and I am {age} years old. ")

My name is Jhon and I am 30 years old.

In [ ]:
#37. How can you handle the exception that occurs when trying to convert a non-numeric string to an integer?
#Using `try` and `except` blocks

In [66]:
#38. What is the result of the following code?

decimal_number = 8.75
rounded_number = round(decimal_number)

print("Rounded Number:", rounded_number)

Rounded Number: 9

In [ ]:
# 39. How can you convert a decimal number to a hexadecimal string in Python?
#hex(decimal_number)

In [67]:
# 40. What is the output of the following code?

favorite_color = "Green"

print(f"My favorite color is {favorite_color.upper()}.")

My favorite color is GREEN.

## The End